<configuration>
  <system.webServer>
    
    <!-- Indicates to IIS that the server.js file is a node.js application to be handled by the iisnode module -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>

        <!-- All other URLs are mapped to the node.js site entry point -->
        <rule name="DynamicContent">
          <conditions>
             <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- 
      IISNode Configuration 
      Using parameters requested by user for Windows Server 2012 compatibility
    -->
    <iisnode
      nodeProcessCommandLine="node"
      watchedFiles="web.config;server.js"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="false"
      devErrorsEnabled="true"
      nodeProcessCountPerApplication="1"
      maxNamedPipeConnectionRetry="240"
      namedPipeConnectionRetryDelay="250"
    />

  </system.webServer>
</configuration>
